* { margin: 0px; padding: 0px; }

body {
	text-align: left;
	font-family: arial;
	color: black;
	background: #EEF2FF;
}

.text {
	background: #D6DAF1;
	width: 360px;
	height: 25px;
	margin-top: 25px;
	margin-left: 45px;

}

a:hover {
	color: red;
}

.textpost {
	background: #D6DAF1;
	width: 360px;
	height: 40px;
	margin-top: 0px;
	margin-left: 45px;

}