* { margin: 0px; padding: 0px; }

body {
	text-align: left;
	font-family: arial;
	color: black;
	background: #EEF2FF;
}

.form {
	background: white;
	width: 360px;
	height: 90px;
	margin-top: 0px;
	margin-left: 45px;
	color:red;
	border-color: #D6DAF1;
	border-left: 100px;

}

a:hover {
	color: red;
}

.textpost {
	background: #D6DAF1;
	width: 360px;
	height: 40px;
	margin-top: 10px;
	margin-left: 45px;

}