#amazon-buttons3{

}



.amazon5{
	position: absolute;
	top: 40%;
	left: 50%;

	margin-left: -400px;
}
.amazon6{
	position: absolute;
	top: 40%;
	left: 50%;

	margin-left: -127px;
}
.amazon7{
	position: absolute;
	top: 40%;
	left: 50%;

	margin-left: 150px;
}