#gif1 {
	margin-left: -15px;
  margin-top: -10px;
  position: fixed;
}

#gif2 {
	margin-left: 450px;
  margin-top: 455px;
  position: fixed;
  z-index: 2;
}

#gif3 {
	margin-left: 55px;
  margin-top: 145px;
  position: fixed;
}

#gif4 {
	margin-left: 1000px;
  margin-top: 145px;
  position: fixed;
  z-index: -1;
}

#gif5 {
	margin-left: 750px;
  margin-top: 66px;
  position: fixed;
}

#gif6 {
	margin-left: 900px;
  margin-top: 450px;
  position: fixed;
  z-index: -1;
}

#gif7 {
	margin-left: -10px;
  margin-top: 480px;
  position: fixed;
}

#gif8 {
	margin-left: 911px;
  margin-top: -50px;
  position: fixed;
  transform: rotate(180deg);
  z-index: -1;
}

#gif9 {
	margin-left: 300px;
  margin-top: -20px;
  position: fixed;

}

#gif10 {
	margin-left: -70px;
  margin-top: 250px;
  position: fixed;

}

#gif11 {
	margin-left: 415px;
  margin-top: -40px;
  position: fixed;
  z-index: -1;

}

#gif12 {
	margin-left: -25px;
  margin-top: 170px;
  position: fixed;
   z-index: -1;

}

#gif13 {
	margin-left: 600px;
  margin-top: -550px;
  position: fixed;

}

#gif14 {
	margin-left: 350px;
  margin-top: 370px;
  position: fixed;
   z-index: 2;

}

#gif15 {
	margin-left: 900px;
  margin-top: 322px;
  position: fixed;
  z-index: -1;
  

}

#gif16 {
	margin-left: 420px;
  margin-top: 350px;
  position: fixed;
  z-index: -1;

}

#gif17 {
	margin-left: 700px;
  margin-top: 505px;
  position: fixed;
  z-index: 1;

}

#gif18 {
	margin-left: 700px;
  margin-top: 300px;
  position: fixed;
  z-index: -1;

}

#gif19 {
	margin-left: 800px;
  margin-top: 405px;
  position: fixed;
  z-index: -1;

}

#gif20 {
	margin-left: 400px;
  margin-top: 255px;
  position: fixed;
  z-index: 2;


}

#gif21 {
	margin-left: 50px;
  margin-top: 280px;
  position: fixed;
  z-index: -1;

}



#gif22 {
	margin-left: 770px;
  margin-top: -30px;
  position: fixed;
  z-index: -1;

 }

#gif23 {
	margin-left: 420px;
  margin-top: 225px;
  position: fixed;
  z-index: 2;

 }

 #gif24 {
  margin-left: 470px;
  margin-top: 255px;
  position: fixed;
  z-index: -2;

 }






